#a{
    height:100px;
    width: 100px;
    background-color: rgba(230,210,50,0.4);
    /* display: none; */
    margin: auto ;
}

#b{
    height:100px;
    width: 100px;
    background-color: rgba(20,10,50);
    opacity: 0.5;
}