h1{
    background-color: pink;
    border: 2px solid black;
}

div{
    background-color: firebrick;
    height: 100px;
    width: 200px;}

@media (width: 500px){
    h1{background-color: aqua;}
}

@media (min-width: 700px){
    h1{background-color: darkgoldenrod;}
}

@media (min-width: 800px){
    h1{background-color:darkgreen;
    color: white;}
}

@media (min-width: 800px) and (max-width:900px){
    h1{background-color:darkgreen;}
    div{background-color: black;}
}

@media(orientation: landscape){
div{background-color: blue;
    color: brown;}
}


